.home{
    display: grid;
    grid-template-areas: "a"
    "b";
  }
  
  .top{
    grid-area: "a";
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 945px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .mid{
    grid-area: "b";
    background-color: whitesmoke;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .info{
    margin: 0;
    text-align: center;
    font-size: 2em;
    padding: 2em;
  }
  
  .info i{
    font-size: 3em;
  }
  
  .big{
    font-size: 4em;
    /* font-family: 'Pattaya', sans-serif; */
    /* font-family: 'Sanchez', serif; */
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Mansalva', cursive;
   


  }
  
  .sub{
    font-size: 1.5em;
    font-family: 'Questrial', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
  }
  
  #bigger-button{
    padding: .5em 1.5em;
    font-size: 1.5em;
  }
  
  #example{
    border-radius: 50%;
    min-height: 500px;
    max-width: 500px;
  }
  
  footer{
    text-align: center;
    font-size: 1em;
    box-shadow: 2px 2px 2px 2px lightgray;
  }
  
  #down{
    margin-top: 3em;
    color: white;
    font-size: 3em;
  }
  
  #down a {
    color: white;
  }